*~
*.pyc

venv*
.venv_robo_diff_FI/
.python-version*

robo_manip_baselines.egg-info

MUJOCO_LOG.TXT

/logs/

GPATH
GRTAGS
GSYMS
GTAGS

unstructured/wp4_lifting_20260731/

robo_manip_baselines/dataset/
