*~
*.pyc

venv*
.python-version*

robo_manip_baselines.egg-info

MUJOCO_LOG.TXT

GPATH
GRTAGS
GSYMS
GTAGS

*.tsv

*.pt

.venv
/.venv_tutorial
.venv_tutorial

commit.sh

/wandb

AGENTS.md

asobiba.ipynb
check_hdf4.ipynb
.codex

robo_manip_baselines/rollout_debug_log_expanded.csv

robo_manip_baselines/misc/arucoboard/yolopose/runs
robo_manip_baselines/misc/arucoboard/yolopose/datasets/**

robo_manip_baselines/misc/arucoboard/runs
